{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="{% static '/styles/base.css' %}">
    <title>Document</title>
    {% block head %}


    {% endblock %}

</head>
<body>
    <nav class="navbar" id="navDown">
        <form method="get" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="buscador">            
                <input type="text" placeholder="Buscador" name="buscador" value="{{ request.GET.buscador }}">
                <button type="submit" class="material-symbols-outlined">
                    search
                    </button>
            </div>

        </form>
        
    </nav>
    {% block content %}

    {% endblock %}
    <footer>

    </footer>
    <script src="{% static '/javascript/home.js' %}"></script>
</body>
</html>